<div class="hero">
	<div class="hero-wrap">
		<div class="logo" style="text-align:center">
			<h1>
			{{ title }}
			</h1>
		</div>
		<app-addpicture></app-addpicture>
		<div appScrollSmooth [pictureListingElement]="pictureListingElement" id="scroll-down"><img src="./assets/images/scroll-down.png"></div>
	</div>
</div>
<div #mainpictureListing id="mainpicturelisting" class="listing-picture" [ngClass]="{'stickyDetails': stickypictureDetails == true}">
	<div class="container">
		<div class="picture-picture-container" [ngClass]="{'active': selectedpictureId != null}">
			<app-listpicture      
				class="picture-picture-main"    
				*ngFor="let picture of pictureslist; let pictureID = index;" 
				[ngClass]="{'active': selectedpictureId === pictureID}"
				[picture]="picture"
				(click)="showDetails(pictureID)">
			</app-listpicture>
			<div class="no-pictures-to-show align-center"  *ngIf="pictureslist == ''">
				<img src="./assets/images/oops.jpg">
				<h4>No pictures found. Please add pictures.</h4>
			</div>
		</div>
		<div 
			class="details-panel" 
			[ngClass]="{'active': selectedpictureId != null}" 
		>
			<app-picturedetails 
			class="picture-details-container"
			*ngIf="selectedpictureId != null"
			[pictureId]="selectedpictureId"  
			[pictureDetails]="pictureDetails"  
			(closePanel)="closeDetails($event)"
			>
			</app-picturedetails>
		</div>    
	</div>    
</div>